---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

// Components
import BlogCard from "@/components/blog/BlogCard.astro";
// CMS
import { cms } from "@/lib/cms";
// Components
import CategoryLink from "@/components/blog/CategoryLink.astro";
// Constants
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

const { data: posts } = await cms.posts.list();
const { data: categories } = await cms.categories.list();
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <Wrapper variant="standard" class="py-24 lg:py-32">
      <div>
        <Text tag="h1" variant="displaySM" class="font-medium text-base-900"
          >Blog</Text
        >
        <Text
          tag="p"
          variant="textXS"
          class="font-medium font-mono text-base-500 mt-2"
          >A CMS blog for Zenblog by Lexington Themes</Text
        >
      </div>
      <div class="flex gap-4 flex-wrap mt-12">
        {
          categories?.map((category) => (
            <CategoryLink href={`/blog/categories/${category.slug}/`}>
              {category.name}
            </CategoryLink>
          ))
        }
      </div>

      <ul
        role="list"
        class="grid grid-cols-1 md:grid-cols-3 gap-8 gap-y-24 mt-4 list-none"
      >
        {posts?.map((post) => <BlogCard post={post} />)}
      </ul>
    </Wrapper>
  </section>
</BaseLayout>
