---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Grids
import BlogCardsGrid from "@/components/fundations/grids/BlogCardsGrid.astro";
// CMS
import { cms } from "@/lib/cms";
// Components
import CategoryLink from "@/components/blog/CategoryLink.astro";
// Constants
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

const { data: posts } = await cms.posts.list();
const { data: categories } = await cms.categories.list();
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <Wrapper variant="standard" class="py-24 lg:py-32">
      <div>
        <Text tag="h1" variant="displaySM" class="font-medium text-base-900"
          >Blog</Text
        >
        <Text
          tag="p"
          variant="textXS"
          class="font-medium font-mono text-base-500 mt-2"
          >A CMS blog for Zenblog by Lexington Themes</Text
        >
      </div>
      <div class="flex gap-4 flex-wrap mt-4">
        {
          categories?.map((category) => (
            <CategoryLink href={`/blog/categories/${category.slug}/`}>
              {category.name}
            </CategoryLink>
          ))
        }
      </div>

      <BlogCardsGrid class="mt-12">
        {
          posts?.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`} class="block">
                {post.cover_image ? (
                  <img
                    width={720}
                    height={360}
                    src={post.cover_image}
                    alt={post.title}
                    class=" w-full  object-cover aspect-12/6"
                  />
                ) : (
                  <div class="h-[360px] bg-base-50 " />
                )}
                <div class=" mt-2">
                  <Text
                    tag="p"
                    variant="textXS"
                    class="font-medium font-mono text-base-500"
                  >
                    <time datetime={post.published_at}>
                      {new Date(post.published_at).toLocaleDateString("en-US", {
                        year: "numeric",
                        month: "long",
                        day: "numeric",
                      })}
                    </time>
                  </Text>
                  <Text
                    tag="h3"
                    variant="textBase"
                    class="font-medium text-base-900 mt-4"
                  >
                    {post.title}
                  </Text>
                  <Text
                    tag="p"
                    variant="textSM"
                    class="text-base-500 line-clamp-2 mt-1"
                  >
                    {post.excerpt}
                  </Text>
                </div>
              </a>
            </li>
          ))
        }
      </BlogCardsGrid>
    </Wrapper>
  </section>
</BaseLayout>
