---
import type { Post } from "zenblog/types";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<li>
  <a href={`/blog/${post.slug}/`} class="block">
    {
      post.cover_image ? (
        <img
          width={720}
          height={360}
          src={post.cover_image}
          alt={post.title}
          class="rounded-2xl w-full max-h-[240px] object-cover aspect-[2/1]"
        />
      ) : (
        <div class="h-[360px] bg-slate-300 rounded-xl" />
      )
    }
    <div class="my-2 space-y-2 px-2">
      <div class="">
        <time class="text-neutral-500 text-sm" datetime={post.published_at}>
          {
            new Date(post.published_at).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
      </div>
      <h3 class="font-medium text-xl mt-4">{post.title}</h3>
      <p class="text-neutral-500 line-clamp-2">{post.excerpt}</p>
    </div>
  </a>
</li>
